// Colors (names - https://www.htmlcsscolor.com/hex)

$color-pear: #c5ec2a;
$color-light-pear: #d5ff2d;
$color-fuego: #bbe028;
$color-nero: #1b1b1b;
$color-dark-nero: #181818;
$color-night-rider: #333333;
$color-night-rider-low: #3333331a;
$color-alzarin: #ee2a42;
$color-torch-red: #f1183f;
$color-light-grey: #d6d6d6;
$color-dark-grey: #adadad;
$color-very-light-grey: #cfcfcf;
$color-white: #ffffff;
$color-black: #000000;
