.certificate-card {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  width: 334px;
  padding: 29px 19px;
  border: 1px solid $color-very-light-grey;
  border-radius: 20px;
}

.certificate-card--edit .certificate-card__button--edit {
  display: none;
}

.certificate-card--edit .certificate-card__button--save {
  @include default-positioning-desktop;
}

.certificate-card--edit .certificate-card__controls {
  @include default-positioning-desktop;
}

.certificate-card__image {
  width: 294px;
  height: 360px;
  margin-bottom: 16px;
}

.certificate-card__image img {
  width: 294px;
  height: 360px;
}

.certificate-card__buttons {
  @include default-positioning-desktop;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @include align-items-center;
  min-height: 36px;
}

.certificate-card__button {
  margin-right: 20px;
}

.certificate-card__button--save {
  display: none;
}

.certificate-card__controls {
  display: none;
}

.certificate-card__control {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.certificate-card__control:last-child {
  margin-right: 0;
}
