.friends-list__wrapper {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  padding-top: 18px;
  padding-bottom: 60px;
}

.friends-list__back {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 30px;
}

.friends-list__title-wrapper {
  @include default-positioning-desktop;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @include align-items-center;
  margin-bottom: 25px;
}

.friends-list__title {
  margin: 0;
  margin-right: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  @include font-params;
}

.friends-list__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.friends-list__item {
  width: 100%;
}

.friends-list__show-more {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
