.user-card__wrapper {
  display: -ms-grid;
  display: grid;
  background-color: $color-white;
  border: 1px solid #c5ec2a;
  border-radius: 12px;
  -ms-grid-columns: 1fr 58%;
  grid-template-columns: 1fr 58%;
}

.user-card__content {
  padding: 102px 116px 102px 118px;
}

.user-card__head {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include align-items-center;
  margin-bottom: 12px;
  padding-right: 5px;
}

.user-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: $color-night-rider;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.user-card__icon {
  @include vertical-centered-block;
  width: 32px;
  height: 32px;
  background-color: $color-night-rider;
  border-radius: 100px;
}

.user-card__crown {
  color: #c5ec2a;
}

.user-card__label {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  @include align-items-center;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-grey;
}

.user-card__label span {
  padding-left: 8px;
}

.user-card__label svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user-card__status {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include justify-content-center;
  @include align-items-center;
  margin-bottom: 35px;
  padding: 12px 20px 12px 34px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-night-rider;
  text-transform: uppercase;
  border: 1px solid #c5ec2a;
  border-radius: 100px;
}

.user-card__status::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 20px;
  width: 8px;
  height: 8px;
  background-color: #c5ec2a;
  border-radius: 100px;
}

.user-card__text {
  margin-bottom: 35px;
  padding-top: 35px;
  border-top: 1px solid rgba(158, 158, 158, 0.2);
}

.user-card__text p {
  max-width: 354px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-night-rider;
}

.user-card__text p:last-of-type {
  margin-bottom: 0;
}

.user-card__hashtag-list {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.user-card__hashtag-item {
  margin-right: 8px;
  margin-bottom: 10px;
}

.user-card__hashtag-item:last-child {
  margin-right: 0;
}

.user-card__btn {
  margin-top: 10px;
}

.user-card__gallary {
  padding: 99px 59px;
  background-color: $color-night-rider;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user-card__gallary-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include zeroed-margin-padding;
  list-style: none;
}

.user-card__gallary-item {
  border-radius: 8px;
}

.user-card__gallary-item img {
  border-radius: 8px;
  height: 573px;
  width: 334px;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-card__gallary-item:last-child {
  margin-right: 0;
}

.user-card-coach__card {
  display: -ms-grid;
  display: grid;
  margin-bottom: 64px;
  background-color: $color-white;
  border: 1px solid #c5ec2a;
  border-radius: 12px;
  -ms-grid-columns: 1fr calc(58% - 4px);
  grid-template-columns: 1fr calc(58% - 4px);
}

.user-card-coach__content {
  padding: 96px 116px 96px 118px;
}

.user-card-coach__head {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include align-items-center;
  margin-bottom: 12px;
  padding-right: 5px;
}

.user-card-coach__title {
  margin: 0;
  font-style: bold;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: $color-night-rider;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.user-card-coach__icon {
  @include vertical-centered-block;
  width: 32px;
  height: 32px;
  background-color: $color-night-rider;
  border-radius: 100px;
}

.user-card-coach__crown {
  color: #c5ec2a;
}

.user-card-coach__label {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  @include align-items-center;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-grey;
}

.user-card-coach__label span {
  padding-left: 8px;
}

.user-card-coach__label svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user-card-coach__status-container {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.user-card-coach__status {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include justify-content-center;
  @include align-items-center;
  padding: 12px 20px 12px 34px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-night-rider;
  text-transform: uppercase;
  border: 1px solid #c5ec2a;
  border-radius: 100px;
}

.user-card-coach__status--check::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 20px;
  width: 8px;
  height: 8px;
  background-color: #c5ec2a;
  border-radius: 100px;
}

.user-card-coach__status--tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include justify-content-center;
  @include align-items-center;
  margin-right: 15px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-night-rider;
  border: 1px solid #c5ec2a;
  border-radius: 100px;
}

.user-card-coach__icon-cup {
  margin-right: 6px;
  color: #c5ec2a;
}

.user-card-coach__text {
  margin-bottom: 25px;
  padding-top: 35px;
  border-top: 1px solid rgba(158, 158, 158, 0.2);
}

.user-card-coach__text p {
  max-width: 354px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-night-rider;
}

.user-card-coach__text p:last-of-type {
  margin-bottom: 0;
}

.user-card-coach__sertificate {
  padding: 0;
}

.user-card-coach__hashtag-list {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.user-card-coach__hashtag-item {
  margin-right: 8px;
  margin-bottom: 10px;
}

.user-card-coach__hashtag-item:last-child {
  margin-right: 0;
}

.user-card-coach__btn {
  margin-top: 10px;
}

.user-card-coach__gallary {
  padding: 99px 59px;
  background-color: $color-night-rider;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user-card-coach__gallary-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include zeroed-margin-padding;
  list-style: none;
}

.user-card-coach__gallary-item {
  border-radius: 8px;
}

.user-card-coach__gallary-item img {
  border-radius: 8px;
  height: 573px;
  width: 334px;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-card-coach__gallary-item:last-child {
  margin-right: 0;
}

.user-card-coach__training-head {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 26px;
}

.user-card-coach__training-title {
  margin: 0;
  font-style: bold;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: $color-night-rider;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.user-card-coach__training-bts {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
}

.user-card-coach__training-btn:first-of-type {
  margin-right: 15px;
}

.user-card-coach__training-list {
  @include zeroed-margin-padding;
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  list-style: none;
  margin-bottom: 60px;
}

.user-card-coach__training-item {
  margin-right: 20px;
}

.user-card-coach__training-item:last-child {
  margin-right: 0;
}

.user-card-coach__training-form {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  max-width: 435px;
  margin: 0 auto;
}

.user-card-coach__training-form .btn {
  max-width: 374px;
  margin: 0 auto;
}

.user-card-coach__training-check {
  margin-top: 10px;
  margin-left: 5px;
}

.user-card-coach .custom-toggle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.user-card-coach-2__card {
  display: -ms-grid;
  display: grid;
  margin-bottom: 64px;
  background-color: $color-white;
  border: 1px solid #c5ec2a;
  border-radius: 12px;
  -ms-grid-columns: 1fr calc(58% - 4px);
  grid-template-columns: 1fr calc(58% - 4px);
}

.user-card-coach-2__content {
  padding: 96px 116px 96px 118px;
}

.user-card-coach-2__head {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include align-items-center;
  margin-bottom: 12px;
  padding-right: 5px;
}

.user-card-coach-2__title {
  margin: 0;
  font-style: bold;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: $color-night-rider;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.user-card-coach-2__icon {
  @include vertical-centered-block;
  width: 32px;
  height: 32px;
  background-color: $color-night-rider;
  border-radius: 100px;
}

.user-card-coach-2__crown {
  color: #c5ec2a;
}

.user-card-coach-2__label {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  @include align-items-center;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-grey;
}

.user-card-coach-2__label span {
  padding-left: 8px;
}

.user-card-coach-2__label svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.user-card-coach-2__status-container {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.user-card-coach-2__status {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include justify-content-center;
  @include align-items-center;
  padding: 12px 24px 12px 42px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-dark-grey;
  text-transform: uppercase;
  border: 1px solid $color-very-light-grey;
  border-radius: 100px;
}

.user-card-coach-2__status--check::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 23px;
  width: 8px;
  height: 8px;
  background-color: $color-very-light-grey;
  border-radius: 100px;
}

.user-card-coach-2__status--tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include justify-content-center;
  @include align-items-center;
  margin-right: 15px;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-night-rider;
  border: 1px solid #c5ec2a;
  border-radius: 100px;
}

.user-card-coach-2__icon-cup {
  margin-right: 6px;
  color: #c5ec2a;
}

.user-card-coach-2__text {
  margin-bottom: 25px;
  padding-top: 35px;
  border-top: 1px solid rgba(158, 158, 158, 0.2);
}

.user-card-coach-2__text p {
  max-width: 354px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-night-rider;
}

.user-card-coach-2__text p:last-of-type {
  margin-bottom: 0;
}

.user-card-coach-2__sertificate {
  padding: 0;
}

.user-card-coach-2__hashtag-list {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.user-card-coach-2__hashtag-item {
  margin-right: 8px;
  margin-bottom: 10px;
}

.user-card-coach-2__hashtag-item:last-child {
  margin-right: 0;
}

.user-card-coach-2__btn {
  margin-top: 10px;
}

.user-card-coach-2__gallary {
  padding: 99px 59px;
  background-color: $color-night-rider;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user-card-coach-2__gallary-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include zeroed-margin-padding;
  list-style: none;
}

.user-card-coach-2__gallary-item {
  border-radius: 8px;
}

.user-card-coach-2__gallary-item img {
  border-radius: 8px;
  height: 573px;
  width: 334px;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-card-coach-2__gallary-item:last-child {
  margin-right: 0;
}

.user-card-coach-2__training-head {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 26px;
}

.user-card-coach-2__training-title {
  margin: 0;
  font-style: bold;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: $color-night-rider;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.user-card-coach-2__training-bts {
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
}

.user-card-coach-2__training-btn:first-of-type {
  margin-right: 15px;
}

.user-card-coach-2__training-list {
  @include zeroed-margin-padding;
  @include default-positioning-desktop;
  @include default-horizontal-positioning-forms;
  list-style: none;
  margin-bottom: 40px;
}

.user-card-coach-2__training-item {
  margin-right: 20px;
}

.user-card-coach-2__training-item:last-child {
  margin-right: 0;
}

.user-card-coach-2__training-form {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  max-width: 435px;
  margin: 0 auto;
}

.user-card-coach-2__training-form .btn {
  max-width: 374px;
  margin: 0 auto;
}

.user-card-coach-2__training-check {
  margin-top: 10px;
  margin-left: 5px;
}

.user-card-coach-2 .custom-toggle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
