.header {
  padding: 22px 0;
  background-color: rgba(255, 255, 255, 0);
}

.header .container {
  @include default-positioning-desktop;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @include align-items-center;
}

.header__logo {
  display: block;
  width: 236px;
  height: 70px;
}

.header__logo svg {
  width: 187px;
  height: 70px;
}
