.search {
  position: relative;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.search.is-active .search__list {
  display: block;
}

.search .search__label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.search input {
  width: 236px;
  margin: 0;
  padding: 16px 50px 16px 16px;
  border: 1px solid $color-very-light-grey;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  outline: 0;
  -webkit-transition: border 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: border 0.3s ease, box-shadow 0.3s ease;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  transition: border 0.3s ease, box-shadow 0.3s ease,
    -webkit-box-shadow 0.3s ease;
}

.search input:hover,
.search input:active {
  border: 1px solid $color-night-rider;
}

.search input:focus {
  border: 1px solid $color-night-rider;
  -webkit-box-shadow: 0 0 2px 2px $color-pear;
  box-shadow: 0 0 2px 2px $color-pear;
}

.search input:disabled {
  border: 1px solid $color-dark-nero;
  background-color: #aeaeae;
  opacity: 0.08;
}

.search input:disabled + .search__icon {
  opacity: 0.2;
}

.search__icon {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 20px;
  height: 20px;
  color: $color-night-rider;
}

.search__list {
  position: absolute;
  display: none;
  width: 236px;
  max-height: 206px;
  margin: 0;
  margin-top: 22px;
  padding: 0 3px;
  border: 1px solid $color-very-light-grey;
  border-radius: 8px;
  background-color: #fafafa;
  list-style: none;
  overflow: auto;
}

.search__link {
  display: block;
  padding: 13px 12px 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border-radius: 8px;
  color: $color-night-rider;
}

.search__link.is-active {
  background-color: $color-pear;
}
