.popup-form {
  @include popup-position;
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__wrapper {
    @include vertical-centered-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 100%;
    padding: 40px;
  }

  &__content {
    z-index: 10;
    position: relative;
    width: 688px;
    border: 1px solid $color-pear;
    border-radius: 60px;
    background-color: $color-white;
    -webkit-box-shadow: 0 10px 100px $color-night-rider-low;
    box-shadow: 0 10px 100px $color-night-rider-low;
  }

  &__title-wrapper {
    padding: 43px 117px 42px;
    border-radius: 60px 60px 0 0;
    background-color: $color-night-rider;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color-white;
  }

  &__form {
    padding: 30px 117px 60px;
  }
}

.popup-form--sign-in .popup-form__content {
  width: 688px;
}

.popup-form--sign-up .popup-form__content {
  width: 922px;
}

.popup-form--questionnaire-user .popup-form__content,
.popup-form--questionnaire-coach .popup-form__content {
  width: 924px;
}

.popup-form--questionnaire-user .popup-form__form,
.popup-form--questionnaire-coach .popup-form__form {
  padding: 69px 117px;
}

.popup-form--create-training {
  position: relative;

  & .popup-form__wrapper {
    padding: 38px 0 60px;
  }

  & .popup-form__content {
    width: 924px;
  }

  & .popup-form__form {
    padding: 40px 117px 59px;
  }
}
