.sign-in {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  @include align-items-center;
  &__input {
    margin-bottom: 30px;
  }

  &__button {
    max-width: 256px;
    margin-top: 15px;
  }
}
