.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sign-in__input {
  margin-bottom: 30px;
}

.sign-in__button {
  max-width: 256px;
  margin-top: 15px;
}
