*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  @include zeroed-margin-padding;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $color-night-rider;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

a {
  color: $color-night-rider;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.rouble {
  font-family: 'Rouble', 'Arial', sans-serif;
  text-transform: lowercase !important;
  font-weight: 400 !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 22px;
}

.inner-page .container {
  padding-left: 0;
}

.inner-page--no-sidebar .container {
  padding: 0 22px;
}

.inner-page--no-sidebar .inner-page__wrapper {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  padding: 18px 0 60px;
}

.inner-page__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 356px 1fr;
  grid-template-columns: 356px 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-bottom: 60px;
}

.inner-page__back {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 40px;
}

.inner-page__content {
  width: 100%;
}
