@media (hover: hover) {
  .main-nav__link:hover:not(.focus-visible) {
    color: #c5ec2a;
  }

  .btn:hover:not(.focus-visible) {
    background-color: $color-light-pear;
  }

  .btn:active:not(.focus-visible) {
    background-color: #bbe028;
    border: 2px solid transparent;
    outline: none;
  }

  .btn--outlined:hover:not(.focus-visible) {
    background-color: transparent;
    border: 1px solid $color-night-rider;
  }

  .btn--outlined:active:not(.focus-visible) {
    border: 1px solid $color-night-rider;
    background-color: #f7f7f7;
    outline: none;
  }

  .btn--dark-bg:active:not(.focus-visible) {
    border: 2px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn--dark-bg.btn--outlined:hover:not(.focus-visible) {
    color: $color-very-light-grey;
    border: 1px solid $color-very-light-grey;
  }

  .btn--dark-bg.btn--outlined:active:not(.focus-visible) {
    color: $color-dark-nero;
    border: 1px solid $color-night-rider;
    background-color: #f7f7f7;
  }

  .btn-flat:hover:not(.focus-visible) {
    border-bottom: 2px solid #c5ec2a;
    border-bottom-color: #c5ec2a;
  }

  .btn-flat:hover:not(.focus-visible)::after {
    opacity: 1;
  }

  .btn-flat:active:not(.focus-visible) {
    border-bottom: 2px solid #bbe028;
    border-bottom-color: #bbe028;
  }

  .btn-flat:active:not(.focus-visible)::before {
    opacity: 0;
  }

  .btn-flat--underlined:hover:not(.focus-visible) {
    text-decoration: underline #c5ec2a;
    /* stylelint-disable-next-line */
    -webkit-text-decoration: underline #c5ec2a;
    border-bottom: 2px solid transparent;
  }

  .btn-flat--underlined:active:not(.focus-visible) {
    text-decoration: underline #bbe028;
    /* stylelint-disable-next-line */
    -webkit-text-decoration: underline #bbe028;
    border-bottom: 2px solid transparent;
  }

  .btn-checkbox__btn:hover:not(.focus-visible) {
    border: 1px solid $color-night-rider;
  }

  input:checked + .btn-checkbox__btn:hover:not(.focus-visible) {
    -webkit-box-shadow: 0 0 0 2px #c5ec2a;
    box-shadow: 0 0 0 2px #c5ec2a;
  }

  .btn-icon:hover:not(.focus-visible) {
    -webkit-box-shadow: 0 3px 20px $color-night-rider-low;
    box-shadow: 0 3px 20px $color-night-rider-low;
  }

  .btn-icon:active:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .btn-icon--outlined:hover:not(.focus-visible) {
    border: 1px solid #f2f2f2;
  }

  .btn-icon--outlined:active:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .btn-icon--quantity:hover:not(.focus-visible) {
    stroke: #8e8e8e;
  }

  .btn-icon--quantity:active:not(.focus-visible) {
    stroke: #bbe028;
  }

  .role-btn__btn:hover:not(.focus-visible) {
    border: 1px solid #c5ec2a;
    background-color: $color-white;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .role-btn input:active:not(.focus-visible) ~ .role-btn__btn {
    font-weight: 500;
    outline: none;
    border: 1px solid #c5ec2a;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .custom-toggle--checkbox
    input
    + .custom-toggle__icon:active:not(.focus-visible) {
    -webkit-box-shadow: 0 0 1px 1px #c5ec2a;
    box-shadow: 0 0 1px 1px #c5ec2a;
  }

  .custom-toggle--checkbox:hover:not(.focus-visible)
    input
    + .custom-toggle__icon::before {
    background: #f2f2f2;
  }

  .custom-toggle--checkbox:hover:not(.focus-visible)
    input:checked
    + .custom-toggle__icon::before {
    background: $color-night-rider;
  }

  .custom-toggle--switch:hover:not(.focus-visible)
    input
    + .custom-toggle__icon::after {
    background-color: $color-white;
    border: 1px solid #aeaeae;
  }

  .custom-toggle--switch:hover:not(.focus-visible)
    input:checked
    + .custom-toggle__icon::after {
    background-color: $color-light-pear;
    border: 1px solid $color-light-pear;
  }

  .custom-toggle--switch:active:not(.focus-visible)
    input
    + .custom-toggle__icon::before {
    -webkit-box-shadow: 0 0 1px 1px #c5ec2a;
    box-shadow: 0 0 1px 1px #c5ec2a;
    border-color: $color-night-rider;
  }

  .custom-toggle--switch:active:not(.focus-visible)
    input:checked
    + .custom-toggle__icon::before {
    -webkit-box-shadow: 0 0 1px 1px $color-night-rider;
    box-shadow: 0 0 1px 1px $color-night-rider;
    border-color: #c5ec2a;
  }

  .custom-toggle-radio
    label:hover:not(.focus-visible)
    input
    + .custom-toggle-radio__icon::before {
    background: #f2f2f2;
  }

  .custom-toggle-radio
    label:hover:not(.focus-visible)
    input:checked
    + .custom-toggle-radio__icon::before {
    background: $color-night-rider;
  }

  .custom-toggle-radio
    input
    + .custom-toggle-radio__icon:active:not(.focus-visible) {
    -webkit-box-shadow: 0 0 1px 1px #c5ec2a;
    box-shadow: 0 0 1px 1px #c5ec2a;
  }

  .custom-select__item[aria-selected='true']:hover:not(.focus-visible) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .custom-select__item:hover:not(.focus-visible) {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .notification:hover:not(.focus-visible) {
    background-color: #f7f7f7;
  }

  .notification:hover:not(.focus-visible) .notification__text {
    font-weight: 500;
  }

  .user-info-edit__control-btn:hover:not(.focus-visible) {
    -webkit-box-shadow: 0 3px 20px $color-night-rider-low;
    box-shadow: 0 3px 20px $color-night-rider-low;
    cursor: pointer;
  }

  .user-info-edit__control-btn:active:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .thumbnail-gym:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-gym:hover:not(.focus-visible) .thumbnail-gym__image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .thumbnail-gym__favourite-button:hover:not(.focus-visible) {
    -webkit-box-shadow: 0 3px 20px rgba(51, 51, 51, 0.3);
    box-shadow: 0 3px 20px rgba(51, 51, 51, 0.3);
  }

  .thumbnail-gym__favourite-button:active:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .training-video__play-button:hover:not(.focus-visible) {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .training-video__play-button:active:not(.focus-visible) {
    background-color: $color-dark-nero;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .thumbnail-user:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-training:hover:not(.focus-visible) .thumbnail-training__inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-training:hover:not(.focus-visible) .thumbnail-training__image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .thumbnail-link:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c5ec2a;
    background-color: #c5ec2a;
    color: $color-dark-nero;
  }

  .thumbnail-link:hover:not(.focus-visible) .thumbnail-link__icon {
    border-color: $color-white;
  }

  .thumbnail-preview:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-preview:hover:not(.focus-visible) .thumbnail-preview__image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .thumbnail-friend:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-friend__invite-button:hover:not(.focus-visible) {
    color: #c5ec2a;
  }

  .thumbnail-spec-gym:hover:not(.focus-visible) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .thumbnail-spec-gym:hover:not(.focus-visible) .thumbnail-spec-gym__image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .promo-slider__slider-dot:hover:not(.focus-visible) {
    -webkit-box-shadow: 0 0 0 2px #c5ec2a;
    box-shadow: 0 0 0 2px #c5ec2a;
  }

  .filter-price input:hover:not(.focus-visible) {
    border: 1px solid $color-night-rider;
  }

  .filter-calories input:hover:not(.focus-visible) {
    border: 1px solid $color-night-rider;
  }

  .filter-range__min-toggle:hover:not(.focus-visible),
  .filter-range__max-toggle:hover:not(.focus-visible) {
    background-color: $color-dark-grey;
  }

  .filter-range__min-toggle:active:not(.focus-visible),
  .filter-range__max-toggle:active:not(.focus-visible) {
    -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
    box-shadow: 0 0 2px 2px #c5ec2a;
  }

  .filter-raiting__min-toggle:hover:not(.focus-visible),
  .filter-raiting__max-toggle:hover:not(.focus-visible) {
    background-color: $color-dark-grey;
  }

  .filter-raiting__min-toggle:active:not(.focus-visible),
  .filter-raiting__max-toggle:active:not(.focus-visible) {
    -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
    box-shadow: 0 0 2px 2px #c5ec2a;
  }

  .btn-show-more:hover:not(.focus-visible) {
    border-color: $color-dark-grey;
  }

  .btn-show-more:hover:not(.focus-visible) span,
  .btn-show-more:hover:not(.focus-visible) svg {
    opacity: 0.8;
  }

  .btn-show-more:active:not(.focus-visible) {
    border-bottom: 2px solid #c5ec2a;
  }

  .btn-radio-sort label:hover:not(.focus-visible) {
    background: #f2f2f2;
  }

  .popup__rate-item input:hover:not(.focus-visible) + .popup__rate-number {
    border: 1px solid #c5ec2a;
    background-color: $color-white;
  }

  .popup__rate-item input:active:not(.focus-visible) + .popup__rate-number {
    background-color: $color-night-rider;
    color: #c5ec2a;
    border: 1px solid #c5ec2a;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .popup__rate-item
    input:checked:hover:not(.focus-visible)
    + .popup__rate-number {
    background-color: $color-night-rider;
    color: #c5ec2a;
    border: 1px solid #c5ec2a;
    outline: none;
  }

  .input-load-avatar input:hover:not(.focus-visible) + .input-load-avatar__btn,
  .input-load-avatar
    input:hover:not(.focus-visible)
    + .input-load-avatar__avatar {
    -webkit-box-shadow: 0 3px 20px $color-night-rider-low;
    box-shadow: 0 3px 20px $color-night-rider-low;
    cursor: pointer;
  }

  .input-load-avatar input:active:not(.focus-visible) + .input-load-avatar__btn,
  .input-load-avatar
    input:active:not(.focus-visible)
    + .input-load-avatar__avatar {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .intro__link:hover:not(.focus-visible) {
    color: $color-light-pear;
  }

  .btn-filter-sort:hover:not(.focus-visible) {
    opacity: 0.8;
  }

  .drag-and-drop:hover:not(.focus-visible) .drag-and-drop__label {
    border: 1px solid $color-night-rider;
  }

  .drag-and-drop:active:not(.focus-visible) .drag-and-drop__label {
    border: 1px solid $color-night-rider;
    background-color: #f7f7f7;
  }
}
