@media (max-width: 1279px) {
  .main-nav__list {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    min-width: 362px;
  }
}

@media (max-width: 767px) {
  .modal__wrapper {
    padding: 60px 16px;
  }

  .modal__content {
    width: 100%;
    padding: 20px;
  }

  .modal--fit-content .modal__content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .custom-select {
    padding: 4px 0 14px;
    width: 100%;
  }

  .custom-select__placeholder {
    -webkit-transform: translateY(calc(-50% - 5px));
    -ms-transform: translateY(calc(-50% - 5px));
    transform: translateY(calc(-50% - 5px));
  }
}
