.special-for-you {
  position: relative;
  overflow: hidden;
}

.special-for-you__wrapper {
  padding-top: 48px;
  padding-bottom: 70px;
}

.special-for-you__title-wrapper {
  @include default-positioning-desktop;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @include align-items-center;
  margin-bottom: 30px;
}

.special-for-you__title {
  margin: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  @include font-params;
}

.special-for-you__controls {
  @include default-positioning-desktop;
}

.special-for-you__control {
  margin-right: 15px;
}

.special-for-you__control:last-child {
  margin-right: 0;
}

.special-for-you__list {
  @include default-positioning-desktop;
  @include zeroed-margin-padding;
  list-style: none;
}

.special-for-you__item {
  margin-right: 20px;
}

.special-for-you__item:last-child {
  margin-right: 0;
}

.special-offers__wrapper {
  @include default-positioning-desktop;
  padding-bottom: 70px;
}

.special-offers__list {
  @include default-positioning-desktop;
  max-width: 1040px;
  margin: 0;
  margin-right: 21px;
  padding: 0;
  list-style: none;
}

.special-offers__item {
  display: none;
}

.special-offers__item.is-active {
  display: block;
}
