.thumbnail-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 334px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
}

.thumbnail-training__inner {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 193px auto auto auto 1fr;
  grid-template-rows: 193px auto auto auto 1fr;
  -ms-flex-line-pack: start;
  align-content: start;
  padding: 20px 17px 22px 19px;
  margin-bottom: 15px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #c5ec2a;
  -webkit-box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.6s ease-in-out;
  -o-transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out, -webkit-box-shadow 0.6s ease-in-out;
}

.thumbnail-training__inner:last-child {
  margin-bottom: 0;
}

.thumbnail-training__image {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  height: 191px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.6s ease-in-out;
  transition: -webkit-filter 0.6s ease-in-out;
  -o-transition: filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out;
}

.thumbnail-training__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.thumbnail-training__price {
  position: absolute;
  top: 22px;
  right: 21px;
  margin: 0;
  padding: 8px 11px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #c5ec2a;
  background-color: #333333;
  z-index: 2;
}

.thumbnail-training__price-value {
  margin-right: 4px;
}

.thumbnail-training__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0;
  margin-bottom: 17px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #181818;
}

.thumbnail-training__info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 3px;
}

.thumbnail-training__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  height: 26px;
  margin-bottom: 8px;
}

.thumbnail-training__rate svg {
  color: #c5ec2a;
}

.thumbnail-training__rate-value {
  margin-left: 6px;
  font-size: 14px;
  line-height: 1;
}

.thumbnail-training__hashtags-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
}

.thumbnail-training__hashtags-item {
  margin-right: 7px;
  margin-bottom: 8px;
}

.thumbnail-training__hashtag {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  color: inherit;
  border-color: #cfcfcf;
}

.thumbnail-training__text-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.thumbnail-training__text {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.3;
}

.thumbnail-training__text:last-child {
  margin-bottom: 24px;
}

.thumbnail-training__button-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  -ms-flex-line-pack: end;
  align-content: end;
  margin-bottom: 7px;
}

.thumbnail-training__button-orders {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: start;
  justify-self: start;
  margin-bottom: 2px;
  line-height: 1;
}

.thumbnail-training__button-catalog {
  padding: 12px 10px;
  line-height: 1;
}

.thumbnail-training__total-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.thumbnail-training__total-info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 11px 12px 13px;
  background-color: #333333;
  color: #c5ec2a;
  border-radius: 10px;
}

.thumbnail-training__total-info-card svg {
  margin-bottom: 10px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.thumbnail-training__total-info-value {
  margin: 0;
  margin-bottom: 7px;
  margin-top: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.thumbnail-training__total-info-value span {
  margin-left: 3px;
}

.thumbnail-training__total-info-text {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  color: #cfcfcf;
}
