.training-card {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 30px $color-night-rider-low;
  box-shadow: 0 10px 30px $color-night-rider-low;
}

.training-card--edit .training-info__edit--edit {
  display: none;
}

.training-card--edit .training-info__edit--save {
  @include default-positioning-desktop;
}

.training-card--edit .training-info__discount {
  @include default-positioning-desktop;
}

.training-card--edit .training-video__button {
  display: none;
}

.training-card--edit .training-video__edit-buttons {
  display: -ms-grid;
  display: grid;
}
