.filter-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 151px 151px;
  grid-template-columns: 151px 151px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.filter-price input {
  max-width: 151px;
  padding: 13px 45px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.filter-price input.focus-visible:focus {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}

.filter-price label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #aeaeae;
}

.filter-price__input-text {
  position: relative;
}

.filter-price__input-text--min {
  margin-right: 10px;
}

.filter-price__input-text--min label {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.filter-price__input-text--max label {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.is-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.filter-calories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-calories input {
  max-width: 151px;
  padding: 13px 45px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.filter-calories input.focus-visible:focus {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}

.filter-calories label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #aeaeae;
}

.filter-calories__input-text {
  position: relative;
}

.filter-calories__input-text--min {
  margin-right: 10px;
}

.filter-calories__input-text--min label {
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.filter-calories__input-text--max label {
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.is-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.filter-range__scale {
  width: 312px;
  height: 1px;
  background-color: #aeaeae;
}

.filter-range__bar {
  width: 208px;
  height: 1px;
  background-color: #333333;
}

.filter-range__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.filter-range__min-toggle,
.filter-range__max-toggle {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

.filter-range__min-toggle {
  position: absolute;
  top: -9px;
}

.filter-range__max-toggle {
  position: absolute;
  top: -9px;
  left: 208px;
}

.filter-raiting__scale {
  width: 312px;
  height: 1px;
  background-color: #aeaeae;
}

.filter-raiting__bar {
  width: 100%;
  height: 1px;
  background-color: #333333;
}

.filter-raiting__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 312px;
}

.filter-raiting__control span {
  margin-top: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.filter-raiting__min-toggle,
.filter-raiting__max-toggle {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

.filter-raiting__min-toggle {
  position: absolute;
  top: -9px;
}

.filter-raiting__max-toggle {
  position: absolute;
  top: -9px;
  right: 0;
}
