.background-logo {
  position: relative;
}

.background-logo__logo {
  position: fixed;
  top: 22px;
  left: 22px;
  width: 750px;
  height: 284px;
}

.background-logo__icon {
  position: fixed;
  right: 140px;
  bottom: 100px;
  width: 343px;
  height: 343px;
}
