.rating {
  @include default-positioning-desktop;
  @include align-items-center;
}

.rating__icon {
  color: $color-pear;
}

.rating__count {
  color: $color-white;
  margin: 0 0 0 6px;
  font-size: 18px;
  line-height: 18px;
}
