.slider-main-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.promo-slider {
  position: relative;
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  width: 1042px;
  min-height: 471px;
  padding: 21px 23px 24px 19px;
  border: 1px solid $color-pear;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0 10px 30px rgba(51, 51, 51, 0.33);
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.33);
}

.promo-slider:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.promo-slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(
    167.69deg,
    $color-dark-nero 2.74%,
    rgba(24, 24, 24, 0) 50.59%
  );
  background: linear-gradient(
    282.31deg,
    $color-dark-nero 2.74%,
    rgba(24, 24, 24, 0) 50.59%
  );
  border-radius: 20px;
  opacity: 0.9;
  z-index: -1;
}

.promo-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  z-index: -2;
}

.promo-slider__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.promo-slider__header {
  position: relative;
  margin-bottom: 19px;
  padding: 22px 90px 8px 0;
}

.promo-slider__header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 924px;
  height: 1px;
  background-color: $color-pear;
}

.promo-slider__logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 74px;
  height: 74px;
}

.promo-slider__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color-pear;
}

.promo-slider__text {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 114%;
  letter-spacing: 0.01em;
  color: $color-white;
}

.promo-slider__bottom-container {
  @include default-positioning-desktop;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: auto;
}

.promo-slider__slider-dots {
  @include default-positioning-desktop;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 8px;
  margin: 0 auto 0 478px;
}

.promo-slider__slider-dot {
  width: 10px;
  height: 10px;
  padding: 0;
  background: #e8e8e8;
  border: none;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.promo-slider__slider-dot.focus-visible:focus {
  -webkit-box-shadow: 0 0 0 2px $color-pear;
  box-shadow: 0 0 0 2px $color-pear;
  outline: none;
}

.promo-slider__slider-dot--active {
  background: $color-pear;
}

.promo-slider__price-container {
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  @include align-items-center;
}

.promo-slider__price {
  margin: 0 0 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: $color-pear;
}

.promo-slider__sup {
  margin: 0 0 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $color-very-light-grey;
}

.promo-slider__old-price {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: $color-white;
}

.promo-slider__old-price::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -7px;
  width: calc(100% + 12px);
  height: 2px;
  border-radius: 1px;
  background-color: $color-pear;
}
