.wrapper {
  position: relative;
  @include default-positioning-desktop;
  @include default-verical-positioning-forms;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
